<%- include("partials/header"); -%>

    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card">
                    <img src="<%= ImgUrl %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= Title %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Runtime: <%= Duration %>
                        </h6>
                        <p class="card-text">
                            <%= Story %>
                        </p>
                        <div class="btn-group" role="group" aria-label="Button Group">

                            <a href="<%= TrailerLinks[index].trailer %>" class="btn btn-secondary">
                                Trailer
                            </a>

                            <a href="<%= VideoLinks[index].link %>" class="btn btn-primary">
                                Watch
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer"); -%>